* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: monospace;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f2641;
  color: #aab2cd;
}
